<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "Nome" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Atual Senha" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> Caracters)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Nova Senha" %>
    
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, 
      autocomplete: "new-password", placeholder: "Confirma Nova Senha" %>
  </div>



  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>

<p>
<div class="actions"> 
<%= button_to "Cancela minha conta",
  registration_path(resource_name),
  data: { confirm: "Are you sure?" }, method: :delete, class:"cancela" %>
</p>
</div>

<%= link_to (image_tag('back.png')), :back %>
